<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />

    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body><div class="bg-blue-200 min-h-screen flex items-center">
   <div class="w-full">
     <h2 class="text-center text-blue-400 font-bold text-2xl uppercase mb-10">Create questions here</h2>
     <div class="bg-white p-10 rounded-lg shadow md:w-3/4 mx-auto lg:w-1/2">
       <form action="/elections/:ElectionId/questions/new" method="post">
        <input type="hidden" name="_csrf" value="<%=csrfToken %>" />
         <div class="mb-5">
           <label for="name" class="block mb-2 font-bold text-gray-600">Question Name</label>
           <input type="text" id="name" name="name" placeholder="Put in your question name" class="border border-gray-300 shadow p-3 w-full rounded mb-">
         </div>

         <div class="mb-5">
           <label for="decripton" class="block mb-2 font-bold text-gray-600">Description</label>
           <input type="textarea" id="descripton" name="descripton" placeholder="Give description to th equestion" class="border border-red-300 shadow p-3 w-full rounded mb-">
         </div>

         <button class="block w-full bg-blue-500 text-white font-bold p-4 rounded-lg">Submit</button>
       </form>
     </div>
   </div>
</body>