<html>
    <head><script src="https://cdn.tailwindcss.com"></script></head><div class="col-start-3 col-span-2 text-gray-600">
    <p class="py-2 text-4xl text-blue-700">My Voting App Elections are live
        </p>