<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <form action="/elections" method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken %>" />
                <p class="py-2 text-4xl text-blue-700">Create a new election</p>
                <div class="flex-auto">
                    <label for="electionname" lass="ml-2 text-sm text-gray-600">Election Name:</label>
                    <br>
                    <div class="flex items-center py-2">
                        <input
                            class="appearance-none bg-transparent border  border-gray-400  rounded w-full text-gray-700 mr-3 py-4 px-3  leading-tight focus:outline-none"
                            type="text" placeholder="Election Name" name="electioname" aria-label="Full name">
                        <div class="flex-none">
                            <button type="submit"
                                class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded">Create
                                Election</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>