<!DOCTYPE html>
<html lang="en">
    <script src="https://cdn.tailwindcss.com"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body align="center" ><h5 class="text-gray-800 text-3xl align ">Elections are live <a class="underline text-purple-900 text-4xl hover:text-blue-300  text-3xl visited:text-purple-600" href="/elections/<%= eid %>/live">Here</a> </h5></body>
